<form action="/Login/Autenticar" method="post" class="form-horizontal">

    <label for="login"> Login:</label>
    <input type="text" id="login" name="login" class="form-control-feedback"/>

    <label for="senha">Senha</label>
    <input type="password" id="senha" name="senha" class="form-control-static"/>

    <br/>
    <br/>
    <input type="submit" value="Acessar" class="btn-info"/>


</form>